<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse text-nowrap" style="background-color: #191816;">
    <button type="button" class="navbar-toggler navbar-toggler-right">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand logo">
        <img alt="Brand" class="logo-picture" src="../favicon.ico" width="48"> Füttr</a>


    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" disabled style="cursor: not-allowed">
                <a class="nav-link" disabled>
                    <img src="assets/home.png"> Home</a>
            </li>
            <li class="nav-item" disabled style="cursor: not-allowed">
                <a class="nav-link" disabled i18n>
                    <img src="assets/feed.png"> Fütterung</a>
            </li>
            <li class="nav-item" disabled style="cursor: not-allowed">
                <a class="nav-link" disabled i18n>
                    <img src="assets/control.png"> Positionen</a>
            </li>
            <li class="nav-item dropdown" style="cursor: not-allowed">
                <a class="nav-link dropdown-toggle" i18n>
                    <img src="assets/settings.png"> Einstellungen</a>
                <div class="dropdown-menu">
                    <a class="nav-link dropdown-item" disabled i18n>
                        <img src="assets/info.png"> Geräteinfo</a>
                    <a class="nav-link dropdown-item" disabled i18n>
                        <img src="assets/update.png"> Update</a>
                </div>
            </li>
        </ul>
        <div ngbDropdown placement="bottom-right">
            <a ngbDropdownToggle>
                <img src="assets/{{activelang}}.png">
            </a>
            <div ngbDropdownMenu>
                <a *ngFor="let lang of languages" href="/{{lang.code}}" class="langlink">{{lang.code}}
                    <img src="{{lang.img}}">
                    <br>
                </a>
            </div>
        </div>
    </div>
</nav>
<p>
    <br>
    <br>
    <br>
    <br>
</p>

<div class="container jumbotron align-middle">
    <form #login="ngForm" class="form-horizontal" (ngSubmit)="submit(login.value)">
        <div class="form-group">
            <label for="usr" i18n>Benutzer:</label>
            <input type="text" class="form-control" id="usr" placeholder="User" name="user" autocomplete="username" ngModel required>
        </div>
        <div class="form-group">
            <label for="pwd" i18n>Passwort:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" autocomplete="current-password"
                ngModel required>
        </div>
        <div class="alert alert-danger" *ngIf="fail" i18n>Invalid username or password.</div>
        <button type="submit" class="btn btn-success" i18n>Submit</button>
    </form>
</div>