/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Allerta');
@import 'bootstrap.css';

.navbar {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.dropdown-menu {
  min-width: 6rem !important;
}

.langlink,
.langlink:hover {
  margin-left: 10px;
  color: #ffffff;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #c6bfb9 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #c6bfb9 !important;
  background-color: #62584c !important;
  font-size: 18px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #000000 !important;
}

.dropdown-menu {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
}

.all {
  font-family: 'Allerta', sans-serif;
}

.btn {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Concert One', cursive;
  font-size: 32px;
  margin: 0px;
  border: 0px;
  margin-right: 12px;
  margin-bottom: -3px;
}

.logo-picture {
  margin-bottom: 6px;
  margin-right: -8px;
}

.input-group-addon {
  font-size: 12pt !important;
  padding: 0.1rem 0.5rem !important;
}

.bigger {
  font-size: 120% !important;
}

.input-error {
  border: 2px solid #c9302c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 0.5rem !important;
  }
  .bigger-h1 {
    font-size: 1.4rem !important;
    border-bottom: 2px solid white;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 0.7rem !important;
  }
  .bigger-h1 {
    font-size: 1.6rem !important;
    border-bottom: 2px solid white;
  }
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 0.9rem !important;
  }
  .bigger-h1 {
    font-size: 1.8rem !important;
    border-bottom: 2px solid white;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    font-size: 1.1rem !important;
  }
  .bigger-h1 {
    font-size: 2rem !important;
    border-bottom: 2px solid white;
  }
}
