doctype html
html(lang="en")
head
  title= "Füttr - Error"
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  header
    h1 Internal Server Error (500)
  div
    p Please inform the programmer about this, either on Github or by Mail.
    p #{time}
    p Mail to programmer #[a(href=href) #{serveradmin}]