<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse text-nowrap" style="background-color: #191816;">
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand logo">
        <img alt="Brand" class="logo-picture" src="../favicon.ico" width="48"> Füttr</a>


    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" disabled>
                <a class="nav-link" disabled>
                    <img src="assets/home.png"> Home</a>
            </li>
            <li class="nav-item" disabled>
                <a class="nav-link" disabled>
                    <img src="assets/feed.png"> Fütterung</a>
            </li>
            <li class="nav-item" disabled>
                <a class="nav-link" disabled>
                    <img src="assets/control.png"> Positionen</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/settings.png"> Einstellungen</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="nav-link dropdown-item" disabled>
                        <img src="assets/info.png"> Geräteinfo</a>
                    <a class="nav-link dropdown-item" disabled>
                        <img src="assets/update.png"> Update</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<p>
    <br>
    <br>
    <br>
    <br>
</p>

<div class="container jumbotron align-middle">
    <form #login="ngForm" class="form-horizontal" (ngSubmit)="submit(login.value)">
        <div class="form-group">
            <label for="usr">User:</label>
            <input type="text" class="form-control" id="usr" placeholder="Enter username" name="user" ngModel required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" ngModel required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>